{% assign product = section.settings.product %}
<div class="bundle_q_product">
  <div class="bundle_q_product_item">
    <h2>{{ product.title }}</h2>
  </div>
</div>
{% schema %}
  {
    "name": "Bundle Product",
    "settings": [
      {
        "type": "product",
        "id": "product",
        "label": "Product"
      }
    ],
    "presets": [
      {
        "name": "Bundle Product"
      }
    ]
  }
{% endschema %}